#kontakt{
    background-color:#333;
    text-align: center;
    font-style: italic;
}

#telefon{
    color: white;
}

#zaglavlje{
    text-align: center;
    background-color: rgba(255,128,34,255);
}

#naziv{
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    background: linear-gradient(to left, rgba(54,60,79,1), rgba(0,0,0,1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 50px;
    text-align: left;
}

.meni {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.menidiv{
    background-color: #333;
}
  
  .meniItem {
    float: left;
    color: white;
  }
  
  .meniLink {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    color: khaki;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .infoZivotinja{
      color:black;
      text-align: center;
      font-size: medium;
  }


  * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
  padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}

#neuspesnaPretraga{
    color:red;
    display: none;
}

#vrsta{
    display: none;
}

.videoD{
    text-align: center;
}

#sortiranje, #pretraga{
    background-color: #333;
    color: white;
}

.oglasi{
  background-color: #333;
}

.tekstOglas{
  color: white;
}